<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mes.modules.quality.mapper.QualityInspectionCategoryMapper">

    <resultMap id="BaseResultMap" type="QualityInspectionCategory">
        <id property="id" column="id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryCode" column="category_code"/>
        <result property="description" column="description"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="BaseColumns">
        id, category_name, category_code, description,
        is_deleted, create_time, update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO quality_inspection_category (category_name, category_code, description)
        VALUES (#{categoryName}, #{categoryCode}, #{description})
    </insert>

    <update id="update">
        UPDATE quality_inspection_category
        <set>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="categoryCode != null">category_code = #{categoryCode},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <update id="deleteById">
        UPDATE quality_inspection_category SET is_deleted = 1 WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM quality_inspection_category
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM quality_inspection_category
        WHERE is_deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (category_name LIKE CONCAT('%', #{keyword}, '%')
                 OR category_code LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countList" resultType="long">
        SELECT COUNT(*)
        FROM quality_inspection_category
        WHERE is_deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (category_name LIKE CONCAT('%', #{keyword}, '%')
                 OR category_code LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

</mapper>
